<!DOCTYPE html>
<html>
  <body>
    <form action="/create" method="post">
      Copy URL:<br>
      <input type="text" name="url" size="60">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
