<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Enter your Link </h2>
    <form action="/create" method="POST">
      Link :
      <input type="text" name="link">
      <input type="submit" name="submit">
    </form>

  </body>
</html>
